.eventItem {
  background: #fff;
}

.eventItem__inner {
  width: 70%;
  margin: 0 auto;
  padding-top: 5rem;
}

.eventItem__upper {
  background: #fff;
  margin-bottom: 4rem;
  align-items: center;
}

.eventItem__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 350px;
}

.eventItem__name {
  margin-bottom: 3rem;
}

.eventItem__description__txt {
  line-height: 3rem;
}

@media screen and (max-width: 640px) {
}
