$main_color: #fce440;

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #333;
}

ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.dummy {
  background: #efefef;
  width: 360px;
  height: 180px;
}

.container {
  padding: 0;
}

@media screen and (max-width: 640px) {
}
